name: Twitch clip view

on:
  workflow_dispatch:

jobs:
  view:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        batch: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run batch
        run: python twitch_view.py ${{ matrix.batch }}
